{
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "The [Swagger Playground](https://developers.strava.com/playground) is the easiest way to familiarize yourself with the Strava API by submitting HTTP requests and observing the responses before you write any client code. It will show what a response will look like with different endpoints depending on the authorization scope you receive from your athletes. To use the Playground, go to https://www.strava.com/settings/api and change your “Authorization Callback Domain” to developers.strava.com. Please note, we only support Swagger 2.0. There is a known issue where you can only select one scope at a time. For more information, please check the section “client code” at https://developers.strava.com/docs.",
    "title": "Strava API v3",
    "version": "3.0.0"
  },
  "host": "www.strava.com",
  "basePath": "/api/v3",
  "paths": {
    "/activities": {
      "post": {
        "description": "Creates a manual activity for an athlete, requires activity:write scope.",
        "tags": [
          "Activities"
        ],
        "summary": "Create an Activity",
        "operationId": "createActivity",
        "parameters": [
          {
            "type": "string",
            "description": "The name of the activity.",
            "name": "name",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "Type of activity. For example - Run, Ride etc.",
            "name": "type",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "Sport type of activity. For example - Run, MountainBikeRide, Ride, etc.",
            "name": "sport_type",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 formatted date time.",
            "name": "start_date_local",
            "in": "formData",
            "required": true
          },
          {
            "type": "integer",
            "description": "In seconds.",
            "name": "elapsed_time",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "Description of the activity.",
            "name": "description",
            "in": "formData"
          },
          {
            "type": "number",
            "format": "float",
            "description": "In meters.",
            "name": "distance",
            "in": "formData"
          },
          {
            "type": "integer",
            "description": "Set to 1 to mark as a trainer activity.",
            "name": "trainer",
            "in": "formData"
          },
          {
            "type": "integer",
            "description": "Set to 1 to mark as commute.",
            "name": "commute",
            "in": "formData"
          }
        ],
        "responses": {
          "201": {
            "description": "The activity's detailed representation.",
            "schema": {
              "$ref": "#/definitions/detailedActivity"
            },
            "examples": {
              "application/json": {
                "achievement_count": 0,
                "athlete": {
                  "id": 12343545645788,
                  "resource_state": 1
                },
                "athlete_count": 1,
                "average_speed": 0,
                "calories": 0,
                "comment_count": 0,
                "commute": false,
                "description": null,
                "device_watts": false,
                "distance": 0,
                "elapsed_time": 18373,
                "external_id": null,
                "flagged": false,
                "from_accepted_tag": null,
                "gear_id": "b453542543",
                "has_heartrate": false,
                "has_kudoed": false,
                "id": 123456778928065,
                "kudos_count": 0,
                "manual": true,
                "map": {
                  "id": "a12345678908766",
                  "polyline": null,
                  "resource_state": 3
                },
                "max_speed": 0,
                "moving_time": 18373,
                "name": "Chill Day",
                "photo_count": 0,
                "pr_count": 0,
                "private": false,
                "resource_state": 3,
                "segment_efforts": [],
                "sport_type": "MountainBikeRide",
                "start_date": "2018-02-20T18:02:13Z",
                "start_date_local": "2018-02-20T10:02:13Z",
                "timezone": "(GMT-08:00) America/Los_Angeles",
                "total_elevation_gain": 0,
                "total_photo_count": 0,
                "trainer": false,
                "type": "Ride",
                "upload_id": null,
                "utc_offset": -28800,
                "workout_type": null
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/activities/{id}": {
      "get": {
        "description": "Returns the given activity that is owned by the authenticated athlete. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.",
        "tags": [
          "Activities"
        ],
        "summary": "Get Activity",
        "operationId": "getActivityById",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The identifier of the activity.",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "boolean",
            "description": "To include all segments efforts.",
            "name": "include_all_efforts",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "The activity's detailed representation.",
            "schema": {
              "$ref": "#/definitions/detailedActivity"
            },
            "examples": {
              "application/json": {
                "achievement_count": 0,
                "athlete": {
                  "id": 134815,
                  "resource_state": 1
                },
                "athlete_count": 1,
                "average_cadence": 78.5,
                "average_speed": 6.679,
                "average_temp": 4,
                "average_watts": 185.5,
                "calories": 870.2,
                "comment_count": 0,
                "commute": false,
                "description": "",
                "device_name": "Garmin Edge 1030",
                "device_watts": true,
                "distance": 28099,
                "elapsed_time": 4410,
                "elev_high": 446.6,
                "elev_low": 17.2,
                "embed_token": "18e4615989b47dd4ff3dc711b0aa4502e4b311a9",
                "end_latlng": [
                  37.83,
                  -122.26
                ],
                "external_id": "garmin_push_12345678987654321",
                "flagged": false,
                "from_accepted_tag": false,
                "gear": {
                  "distance": 32547610,
                  "id": "b12345678987654321",
                  "name": "Tarmac",
                  "primary": true,
                  "resource_state": 2
                },
                "gear_id": "b12345678987654321",
                "has_heartrate": false,
                "has_kudoed": false,
                "hide_from_home": false,
                "highlighted_kudosers": [
                  {
                    "avatar_url": "https://dgalywyr863hv.cloudfront.net/pictures/athletes/12345678987654321/12345678987654321/3/medium.jpg",
                    "destination_url": "strava://athletes/12345678987654321",
                    "display_name": "Marianne V.",
                    "show_name": true
                  }
                ],
                "id": 12345678987654320,
                "kilojoules": 780.5,
                "kudos_count": 19,
                "laps": [
                  {
                    "activity": {
                      "id": 1410355832,
                      "resource_state": 1
                    },
                    "athlete": {
                      "id": 134815,
                      "resource_state": 1
                    },
                    "average_cadence": 78.6,
                    "average_speed": 5.12,
                    "average_watts": 233.1,
                    "device_watts": true,
                    "distance": 8046.72,
                    "elapsed_time": 1573,
                    "end_index": 1570,
                    "id": 4479306946,
                    "lap_index": 1,
                    "max_speed": 9.5,
                    "moving_time": 1569,
                    "name": "Lap 1",
                    "resource_state": 2,
                    "split": 1,
                    "start_date": "2018-02-16T14:52:54Z",
                    "start_date_local": "2018-02-16T06:52:54Z",
                    "start_index": 0,
                    "total_elevation_gain": 276
                  }
                ],
                "leaderboard_opt_out": false,
                "manual": false,
                "map": {
                  "id": "a1410355832",
                  "polyline": "ki{eFvqfiVqAWQIGEEKAYJgBVqDJ{BHa@jAkNJw@Pw@V{APs@^aABQAOEQGKoJ_FuJkFqAo@{A}@sH{DiAs@Q]?WVy@`@oBt@_CB]KYMMkB{AQEI@WT{BlE{@zAQPI@ICsCqA_BcAeCmAaFmCqIoEcLeG}KcG}A}@cDaBiDsByAkAuBqBi@y@_@o@o@kB}BgIoA_EUkAMcACa@BeBBq@LaAJe@b@uA`@_AdBcD`@iAPq@RgALqAB{@EqAyAoOCy@AmCBmANqBLqAZkB\\iCPiBJwCCsASiCq@iD]eA]y@[i@w@mAa@i@k@g@kAw@i@Ya@Q]EWFMLa@~BYpAFNpA`Aj@n@X`@V`AHh@JfB@xAMvAGZGHIDIAWOEQNcC@sACYK[MSOMe@QKKKYOs@UYQISCQ?Q@WNo@r@OHGAGCKOQ_BU}@MQGG]Io@@c@FYNg@d@s@d@ODQAMOMaASs@_@a@SESAQDqBn@a@RO?KK?UBU\\kA@Y?WMo@Iy@GWQ_@WSSGg@AkABQB_Ap@_A^o@b@Q@o@IS@OHi@n@OFS?OI}@iAQMQGQC}@DOIIUK{@IUOMyBo@kASOKIQCa@L[|AgATWN[He@?QKw@FOPCh@Fx@l@TDLELKl@aAHIJEX@r@ZTDV@LENQVg@RkA@c@MeA?WFOPMf@Ej@Fj@@LGHKDM?_@_@iC?a@HKRIl@NT?FCHMFW?YEYGWQa@GYBiAIq@Gq@L_BHSHK|@WJETSLQZs@z@_A~@uA^U`@G\\CRB\\Tl@p@Th@JZ^bB`@lAHLXVLDP?LGFSKiDBo@d@wBVi@R]VYVE\\@`@Lh@Fh@CzAk@RSDQA]GYe@eAGWSiBAWBWBIJORK`@KPOPSTg@h@}Ad@o@F[E_@EGMKUGmAEYGMIMYKs@?a@J}@@_BD_@HQJMx@e@LKHKHWAo@UoAAWFmAH}@?w@C[YwAAc@HSNM|Ao@rA}@zAq@`@a@j@eAxAuBXQj@MXSR[b@gAFg@?YISOGaAHi@Xw@v@_@d@WRSFqARUHQJc@d@m@`A[VSFUBcAEU@WFULUPa@v@Y~@UrBc@dBI~@?l@P~ABt@N`HEjA]zAEp@@p@TrBCl@CTQb@k@dAg@jAU^KJYLK@k@A[Js@d@a@b@]RgBl@[FMAw@[]G]?m@D_@F]P[Vu@t@[TMF_@Do@E_@@q@P]PWZUZw@vAkAlAGJOj@IlAMd@OR{@p@a@d@sBpD]v@a@`Aa@n@]TODgBVk@Pe@^cBfBc@Rs@La@RSPm@|@wCpDS^Wp@QZML{@l@qBbCYd@k@lAIVCZBZNTr@`@RRHZANIZQPKDW@e@CaASU?I@YTKRQx@@\\VmALYRQLCL?v@P|@D\\GJEFKDM@OCa@COOYIGm@YMUCM@]JYr@uAx@kAt@}@jAeAPWbAkBj@s@bAiAz@oAj@m@VQlAc@VQ~@aA`Au@p@Q`AIv@MZORUV_@p@iB|AoCh@q@dAaANUNWH[N{AJ[^m@t@_Av@wA\\a@`@W`@In@Al@B^E`@Wl@u@\\[VQ\\K`@Eb@?R@dAZP@d@CRExAs@\\Yt@{@LG\\MjAATINOXo@d@kAl@_AHYBOCe@QiBCm@Fq@\\wADo@AyGEeBWuB@YHu@Tu@Lk@VcCTo@d@aA\\WJE`@G~@FP?VI\\U~@sANO`@SfAMj@U\\WjAsAXS`@UNENALBHFFL?^Ml@Uj@]b@q@RUJSPkChEc@XcAb@sA|@]PaA\\OJKNER?TDTNj@Jn@?p@OfC@ZR`B@VCV_@n@{@l@WbACv@OlABnAPl@LNNHbBBNBLFFJ@^GLg@x@i@|AMP[X}@XOJKPET?l@LhAFXp@fBDRCd@S\\_@Ps@PQ@}A]S?QDe@V]b@MR[fAKt@ErAF~CANILYDKGIKe@{@Yy@e@sB[gA[c@e@YUCU?WBUHUNQPq@`AiArAMV[^e@Zc@JQJKNMz@?r@Bb@PfAAfA@VVbADn@E`@KHSEe@SMAKDKFM\\^dDCh@m@LoAQ_@@MFOZLfBEl@QbASd@KLQBOAaAc@QAQ@QHc@v@ONMJOBOCg@c@]O[EMBKFGL?RHv@ARERGNe@h@{@h@WVGNDt@JLNFPFz@LdBf@f@PJNHPF`ADPJJJDl@I`@B^Tp@bALJNDNALIf@i@PGPCt@DNE`@Uv@[dAw@RITGRCtAARBPJLPJRZxB?VEX_@vAAR?RDNHJJBh@UnBm@h@IRDRJNNJPNbBFRJLLBLCzAmAd@Uf@Gf@?P@PFJNHPFTH`BDTHNJJJ@LG`@m@^YPER@RDPHNNJRLn@HRLN^VNPHTFX@\\UlDFb@FHh@NP@HKPsB?}ASkCQ{@[y@q@}@cA{@KOCQDa@t@{CFGJCf@Nl@ZtA~@r@p@`@h@rAxBd@rA\\fARdAPjANrB?f@AtBCd@QfBkAjJOlBChA?rBFrBNlBdAfKFzAC~@Iz@Mz@Sv@s@jBmAxBi@hAWt@Sv@Qx@O`BA`@?dAPfBVpAd@`BfBlFf@fBdA~Cr@pAz@fApBhBjAt@H?IL?FBFJLx@^lHvDvh@~XnElCbAd@pGhDbAb@nAr@`Ad@`GhDnBbAxCbBrWhNJJDPARGP_@t@Qh@]pAUtAoA`Ny@jJApBBNFLJFJBv@Hb@HBF?\\",
                  "resource_state": 3,
                  "summary_polyline": "ki{eFvqfiVsBmA`Feh@qg@iX`B}JeCcCqGjIq~@kf@cM{KeHeX`@_GdGkSeBiXtB}YuEkPwFyDeAzAe@pC~DfGc@bIOsGmCcEiD~@oBuEkFhBcBmDiEfAVuDiAuD}NnDaNiIlCyDD_CtJKv@wGhD]YyEzBo@g@uKxGmHpCGtEtI~AuLrHkAcAaIvEgH_EaDR_FpBuBg@sNxHqEtHgLoTpIiCzKNr[sB|Es\\`JyObYeMbGsMnPsAfDxAnD}DBu@bCx@{BbEEyAoD`AmChNoQzMoGhOwX|[yIzBeFKg[zAkIdU_LiHxK}HzEh@vM_BtBg@xGzDbCcF~GhArHaIfByAhLsDiJuC?_HbHd@nL_Cz@ZnEkDDy@hHwJLiCbIrNrIvN_EfAjDWlEnEiAfBxDlFkBfBtEfDaAzBvDKdFx@|@XgJmDsHhAgD`GfElEzOwBnYdBxXgGlSc@bGdHpW|HdJztBnhAgFxc@HnCvBdA"
                },
                "max_speed": 18.5,
                "max_watts": 743,
                "moving_time": 4207,
                "name": "Happy Friday",
                "partner_brand_tag": null,
                "photo_count": 0,
                "photos": {
                  "count": 2,
                  "primary": {
                    "id": null,
                    "source": 1,
                    "unique_id": "3FDGKL3-204E-4867-9E8D-89FC79EAAE17",
                    "urls": {
                      "100": "https://dgtzuqphqg23d.cloudfront.net/Bv93zv5t_mr57v0wXFbY_JyvtucgmU5Ym6N9z_bKeUI-128x96.jpg",
                      "600": "https://dgtzuqphqg23d.cloudfront.net/Bv93zv5t_mr57v0wXFbY_JyvtucgmU5Ym6N9z_bKeUI-768x576.jpg"
                    }
                  },
                  "use_primary_photo": true
                },
                "pr_count": 0,
                "private": false,
                "resource_state": 3,
                "segment_efforts": [
                  {
                    "achievements": [],
                    "activity": {
                      "id": 12345678987654320,
                      "resource_state": 1
                    },
                    "athlete": {
                      "id": 134815,
                      "resource_state": 1
                    },
                    "average_cadence": 78.6,
                    "average_watts": 237.6,
                    "device_watts": true,
                    "distance": 9434.8,
                    "elapsed_time": 2038,
                    "end_index": 2246,
                    "hidden": false,
                    "id": 12345678987654320,
                    "kom_rank": null,
                    "moving_time": 2038,
                    "name": "Tunnel Rd.",
                    "pr_rank": null,
                    "resource_state": 2,
                    "segment": {
                      "activity_type": "Ride",
                      "average_grade": 4.2,
                      "city": "Oakland",
                      "climb_category": 3,
                      "country": "United States",
                      "distance": 9220.7,
                      "elevation_high": 426.5,
                      "elevation_low": 43.4,
                      "end_latlng": [
                        37.8476261,
                        -122.2008944
                      ],
                      "hazardous": false,
                      "id": 673683,
                      "maximum_grade": 25.8,
                      "name": "Tunnel Rd.",
                      "private": false,
                      "resource_state": 2,
                      "starred": false,
                      "start_latlng": [
                        37.8346153,
                        -122.2520872
                      ],
                      "state": "CA"
                    },
                    "start_date": "2018-02-16T14:56:25Z",
                    "start_date_local": "2018-02-16T06:56:25Z",
                    "start_index": 211
                  }
                ],
                "segment_leaderboard_opt_out": false,
                "splits_metric": [
                  {
                    "average_speed": 7.1,
                    "distance": 1001.5,
                    "elapsed_time": 141,
                    "elevation_difference": 4.4,
                    "moving_time": 141,
                    "pace_zone": 0,
                    "split": 1
                  }
                ],
                "sport_type": "MountainBikeRide",
                "start_date": "2018-02-16T14:52:54Z",
                "start_date_local": "2018-02-16T06:52:54Z",
                "start_latlng": [
                  37.83,
                  -122.26
                ],
                "suffer_score": null,
                "timezone": "(GMT-08:00) America/Los_Angeles",
                "total_elevation_gain": 516,
                "total_photo_count": 2,
                "trainer": false,
                "type": "Ride",
                "upload_id": 98765432123456780,
                "utc_offset": -28800,
                "weighted_average_watts": 230,
                "workout_type": 10
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      },
      "put": {
        "description": "Updates the given activity that is owned by the authenticated athlete. Requires activity:write. Also requires activity:read_all in order to update Only Me activities",
        "tags": [
          "Activities"
        ],
        "summary": "Update Activity",
        "operationId": "updateActivityById",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The identifier of the activity.",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/updatableActivity"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The activity's detailed representation.",
            "schema": {
              "$ref": "#/definitions/detailedActivity"
            },
            "examples": {
              "application/json": {
                "achievement_count": 0,
                "athlete": {
                  "id": 134815,
                  "resource_state": 1
                },
                "athlete_count": 1,
                "average_cadence": 78.5,
                "average_speed": 6.679,
                "average_temp": 4,
                "average_watts": 185.5,
                "calories": 870.2,
                "comment_count": 0,
                "commute": false,
                "description": "",
                "device_name": "Garmin Edge 1030",
                "device_watts": true,
                "distance": 28099,
                "elapsed_time": 4410,
                "elev_high": 446.6,
                "elev_low": 17.2,
                "embed_token": "18e4615989b47dd4ff3dc711b0aa4502e4b311a9",
                "end_latlng": [
                  37.83,
                  -122.26
                ],
                "external_id": "garmin_push_12345678987654321",
                "flagged": false,
                "from_accepted_tag": false,
                "gear": {
                  "distance": 32547610,
                  "id": "b12345678987654321",
                  "name": "Tarmac",
                  "primary": true,
                  "resource_state": 2
                },
                "gear_id": "b12345678987654321",
                "has_heartrate": false,
                "has_kudoed": false,
                "hide_from_home": false,
                "highlighted_kudosers": [
                  {
                    "avatar_url": "https://dgalywyr863hv.cloudfront.net/pictures/athletes/12345678987654321/12345678987654321/3/medium.jpg",
                    "destination_url": "strava://athletes/12345678987654321",
                    "display_name": "Marianne V.",
                    "show_name": true
                  }
                ],
                "id": 12345678987654320,
                "kilojoules": 780.5,
                "kudos_count": 19,
                "laps": [
                  {
                    "activity": {
                      "id": 1410355832,
                      "resource_state": 1
                    },
                    "athlete": {
                      "id": 134815,
                      "resource_state": 1
                    },
                    "average_cadence": 78.6,
                    "average_speed": 5.12,
                    "average_watts": 233.1,
                    "device_watts": true,
                    "distance": 8046.72,
                    "elapsed_time": 1573,
                    "end_index": 1570,
                    "id": 4479306946,
                    "lap_index": 1,
                    "max_speed": 9.5,
                    "moving_time": 1569,
                    "name": "Lap 1",
                    "resource_state": 2,
                    "split": 1,
                    "start_date": "2018-02-16T14:52:54Z",
                    "start_date_local": "2018-02-16T06:52:54Z",
                    "start_index": 0,
                    "total_elevation_gain": 276
                  }
                ],
                "leaderboard_opt_out": false,
                "location_city": null,
                "location_country": "United States",
                "location_state": null,
                "manual": false,
                "map": {
                  "id": "a1410355832",
                  "polyline": "ki{eFvqfiVqAWQIGEEKAYJgBVqDJ{BHa@jAkNJw@Pw@V{APs@^aABQAOEQGKoJ_FuJkFqAo@{A}@sH{DiAs@Q]?WVy@`@oBt@_CB]KYMMkB{AQEI@WT{BlE{@zAQPI@ICsCqA_BcAeCmAaFmCqIoEcLeG}KcG}A}@cDaBiDsByAkAuBqBi@y@_@o@o@kB}BgIoA_EUkAMcACa@BeBBq@LaAJe@b@uA`@_AdBcD`@iAPq@RgALqAB{@EqAyAoOCy@AmCBmANqBLqAZkB\\iCPiBJwCCsASiCq@iD]eA]y@[i@w@mAa@i@k@g@kAw@i@Ya@Q]EWFMLa@~BYpAFNpA`Aj@n@X`@V`AHh@JfB@xAMvAGZGHIDIAWOEQNcC@sACYK[MSOMe@QKKKYOs@UYQISCQ?Q@WNo@r@OHGAGCKOQ_BU}@MQGG]Io@@c@FYNg@d@s@d@ODQAMOMaASs@_@a@SESAQDqBn@a@RO?KK?UBU\\kA@Y?WMo@Iy@GWQ_@WSSGg@AkABQB_Ap@_A^o@b@Q@o@IS@OHi@n@OFS?OI}@iAQMQGQC}@DOIIUK{@IUOMyBo@kASOKIQCa@L[|AgATWN[He@?QKw@FOPCh@Fx@l@TDLELKl@aAHIJEX@r@ZTDV@LENQVg@RkA@c@MeA?WFOPMf@Ej@Fj@@LGHKDM?_@_@iC?a@HKRIl@NT?FCHMFW?YEYGWQa@GYBiAIq@Gq@L_BHSHK|@WJETSLQZs@z@_A~@uA^U`@G\\CRB\\Tl@p@Th@JZ^bB`@lAHLXVLDP?LGFSKiDBo@d@wBVi@R]VYVE\\@`@Lh@Fh@CzAk@RSDQA]GYe@eAGWSiBAWBWBIJORK`@KPOPSTg@h@}Ad@o@F[E_@EGMKUGmAEYGMIMYKs@?a@J}@@_BD_@HQJMx@e@LKHKHWAo@UoAAWFmAH}@?w@C[YwAAc@HSNM|Ao@rA}@zAq@`@a@j@eAxAuBXQj@MXSR[b@gAFg@?YISOGaAHi@Xw@v@_@d@WRSFqARUHQJc@d@m@`A[VSFUBcAEU@WFULUPa@v@Y~@UrBc@dBI~@?l@P~ABt@N`HEjA]zAEp@@p@TrBCl@CTQb@k@dAg@jAU^KJYLK@k@A[Js@d@a@b@]RgBl@[FMAw@[]G]?m@D_@F]P[Vu@t@[TMF_@Do@E_@@q@P]PWZUZw@vAkAlAGJOj@IlAMd@OR{@p@a@d@sBpD]v@a@`Aa@n@]TODgBVk@Pe@^cBfBc@Rs@La@RSPm@|@wCpDS^Wp@QZML{@l@qBbCYd@k@lAIVCZBZNTr@`@RRHZANIZQPKDW@e@CaASU?I@YTKRQx@@\\VmALYRQLCL?v@P|@D\\GJEFKDM@OCa@COOYIGm@YMUCM@]JYr@uAx@kAt@}@jAeAPWbAkBj@s@bAiAz@oAj@m@VQlAc@VQ~@aA`Au@p@Q`AIv@MZORUV_@p@iB|AoCh@q@dAaANUNWH[N{AJ[^m@t@_Av@wA\\a@`@W`@In@Al@B^E`@Wl@u@\\[VQ\\K`@Eb@?R@dAZP@d@CRExAs@\\Yt@{@LG\\MjAATINOXo@d@kAl@_AHYBOCe@QiBCm@Fq@\\wADo@AyGEeBWuB@YHu@Tu@Lk@VcCTo@d@aA\\WJE`@G~@FP?VI\\U~@sANO`@SfAMj@U\\WjAsAXS`@UNENALBHFFL?^Ml@Uj@]b@q@RUJSPkChEc@XcAb@sA|@]PaA\\OJKNER?TDTNj@Jn@?p@OfC@ZR`B@VCV_@n@{@l@WbACv@OlABnAPl@LNNHbBBNBLFFJ@^GLg@x@i@|AMP[X}@XOJKPET?l@LhAFXp@fBDRCd@S\\_@Ps@PQ@}A]S?QDe@V]b@MR[fAKt@ErAF~CANILYDKGIKe@{@Yy@e@sB[gA[c@e@YUCU?WBUHUNQPq@`AiArAMV[^e@Zc@JQJKNMz@?r@Bb@PfAAfA@VVbADn@E`@KHSEe@SMAKDKFM\\^dDCh@m@LoAQ_@@MFOZLfBEl@QbASd@KLQBOAaAc@QAQ@QHc@v@ONMJOBOCg@c@]O[EMBKFGL?RHv@ARERGNe@h@{@h@WVGNDt@JLNFPFz@LdBf@f@PJNHPF`ADPJJJDl@I`@B^Tp@bALJNDNALIf@i@PGPCt@DNE`@Uv@[dAw@RITGRCtAARBPJLPJRZxB?VEX_@vAAR?RDNHJJBh@UnBm@h@IRDRJNNJPNbBFRJLLBLCzAmAd@Uf@Gf@?P@PFJNHPFTH`BDTHNJJJ@LG`@m@^YPER@RDPHNNJRLn@HRLN^VNPHTFX@\\UlDFb@FHh@NP@HKPsB?}ASkCQ{@[y@q@}@cA{@KOCQDa@t@{CFGJCf@Nl@ZtA~@r@p@`@h@rAxBd@rA\\fARdAPjANrB?f@AtBCd@QfBkAjJOlBChA?rBFrBNlBdAfKFzAC~@Iz@Mz@Sv@s@jBmAxBi@hAWt@Sv@Qx@O`BA`@?dAPfBVpAd@`BfBlFf@fBdA~Cr@pAz@fApBhBjAt@H?IL?FBFJLx@^lHvDvh@~XnElCbAd@pGhDbAb@nAr@`Ad@`GhDnBbAxCbBrWhNJJDPARGP_@t@Qh@]pAUtAoA`Ny@jJApBBNFLJFJBv@Hb@HBF?\\",
                  "resource_state": 3,
                  "summary_polyline": "ki{eFvqfiVsBmA`Feh@qg@iX`B}JeCcCqGjIq~@kf@cM{KeHeX`@_GdGkSeBiXtB}YuEkPwFyDeAzAe@pC~DfGc@bIOsGmCcEiD~@oBuEkFhBcBmDiEfAVuDiAuD}NnDaNiIlCyDD_CtJKv@wGhD]YyEzBo@g@uKxGmHpCGtEtI~AuLrHkAcAaIvEgH_EaDR_FpBuBg@sNxHqEtHgLoTpIiCzKNr[sB|Es\\`JyObYeMbGsMnPsAfDxAnD}DBu@bCx@{BbEEyAoD`AmChNoQzMoGhOwX|[yIzBeFKg[zAkIdU_LiHxK}HzEh@vM_BtBg@xGzDbCcF~GhArHaIfByAhLsDiJuC?_HbHd@nL_Cz@ZnEkDDy@hHwJLiCbIrNrIvN_EfAjDWlEnEiAfBxDlFkBfBtEfDaAzBvDKdFx@|@XgJmDsHhAgD`GfElEzOwBnYdBxXgGlSc@bGdHpW|HdJztBnhAgFxc@HnCvBdA"
                },
                "max_speed": 18.5,
                "max_watts": 743,
                "moving_time": 4207,
                "name": "Happy Friday",
                "partner_brand_tag": null,
                "photo_count": 0,
                "photos": {
                  "count": 2,
                  "primary": {
                    "id": null,
                    "source": 1,
                    "unique_id": "3FDGKL3-204E-4867-9E8D-89FC79EAAE17",
                    "urls": {
                      "100": "https://dgtzuqphqg23d.cloudfront.net/Bv93zv5t_mr57v0wXFbY_JyvtucgmU5Ym6N9z_bKeUI-128x96.jpg",
                      "600": "https://dgtzuqphqg23d.cloudfront.net/Bv93zv5t_mr57v0wXFbY_JyvtucgmU5Ym6N9z_bKeUI-768x576.jpg"
                    }
                  },
                  "use_primary_photo": true
                },
                "pr_count": 0,
                "private": false,
                "resource_state": 3,
                "segment_efforts": [
                  {
                    "achievements": [],
                    "activity": {
                      "id": 12345678987654320,
                      "resource_state": 1
                    },
                    "athlete": {
                      "id": 12345678987654320,
                      "resource_state": 1
                    },
                    "average_cadence": 78.6,
                    "average_watts": 237.6,
                    "device_watts": true,
                    "distance": 9434.8,
                    "elapsed_time": 2038,
                    "end_index": 2246,
                    "hidden": false,
                    "id": 12345678987654320,
                    "kom_rank": null,
                    "moving_time": 2038,
                    "name": "Tunnel Rd.",
                    "pr_rank": null,
                    "resource_state": 2,
                    "segment": {
                      "activity_type": "Ride",
                      "average_grade": 4.2,
                      "city": "Oakland",
                      "climb_category": 3,
                      "country": "United States",
                      "distance": 9220.7,
                      "elevation_high": 426.5,
                      "elevation_low": 43.4,
                      "end_latlng": [
                        37.8476261,
                        -122.2008944
                      ],
                      "hazardous": false,
                      "id": 673683,
                      "maximum_grade": 25.8,
                      "name": "Tunnel Rd.",
                      "private": false,
                      "resource_state": 2,
                      "starred": false,
                      "start_latlng": [
                        37.8346153,
                        -122.2520872
                      ],
                      "state": "CA"
                    },
                    "start_date": "2018-02-16T14:56:25Z",
                    "start_date_local": "2018-02-16T06:56:25Z",
                    "start_index": 211
                  }
                ],
                "segment_leaderboard_opt_out": false,
                "splits_metric": [
                  {
                    "average_speed": 7.1,
                    "distance": 1001.5,
                    "elapsed_time": 141,
                    "elevation_difference": 4.4,
                    "moving_time": 141,
                    "pace_zone": 0,
                    "split": 1
                  }
                ],
                "sport_type": "MountainBikeRide",
                "start_date": "2018-02-16T14:52:54Z",
                "start_date_local": "2018-02-16T06:52:54Z",
                "start_latlng": [
                  37.83,
                  -122.26
                ],
                "suffer_score": null,
                "timezone": "(GMT-08:00) America/Los_Angeles",
                "total_elevation_gain": 516,
                "total_photo_count": 2,
                "trainer": false,
                "type": "Ride",
                "upload_id": 98765432123456780,
                "utc_offset": -28800,
                "weighted_average_watts": 230,
                "workout_type": 10
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/activities/{id}/comments": {
      "get": {
        "description": "Returns the comments on the given activity. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.",
        "tags": [
          "Activities"
        ],
        "summary": "List Activity Comments",
        "operationId": "getCommentsByActivityId",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The identifier of the activity.",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Deprecated. Prefer to use after_cursor.",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 30,
            "description": "Deprecated. Prefer to use page_size.",
            "name": "per_page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 30,
            "description": "Number of items per page. Defaults to 30.",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Cursor of the last item in the previous page of results, used to request the subsequent page of results.  When omitted, the first page of results is fetched.",
            "name": "after_cursor",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Comments.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/comment"
              }
            },
            "examples": {
              "application/json": [
                {
                  "activity_id": 12345678987654320,
                  "athlete": {
                    "firstname": "Peter",
                    "lastname": "S"
                  },
                  "created_at": "2018-02-08T19:25:39Z",
                  "cursor": "abc123%20",
                  "id": 12345678987654320,
                  "mentions_metadata": null,
                  "post_id": null,
                  "resource_state": 2,
                  "text": "Good job and keep the cat pictures coming!"
                }
              ]
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/activities/{id}/kudos": {
      "get": {
        "description": "Returns the athletes who kudoed an activity identified by an identifier. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.",
        "tags": [
          "Activities"
        ],
        "summary": "List Activity Kudoers",
        "operationId": "getKudoersByActivityId",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The identifier of the activity.",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Page number. Defaults to 1.",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 30,
            "description": "Number of items per page. Defaults to 30.",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Comments.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/summaryAthlete"
              }
            },
            "examples": {
              "application/json": [
                {
                  "firstname": "Peter",
                  "lastname": "S"
                }
              ]
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/activities/{id}/laps": {
      "get": {
        "description": "Returns the laps of an activity identified by an identifier. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.",
        "tags": [
          "Activities"
        ],
        "summary": "List Activity Laps",
        "operationId": "getLapsByActivityId",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The identifier of the activity.",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Activity Laps.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/lap"
              }
            },
            "examples": {
              "application/json": [
                {
                  "activity": {
                    "id": 12345678987654320,
                    "resource_state": 1
                  },
                  "athlete": {
                    "id": 12345678987654320,
                    "resource_state": 1
                  },
                  "average_cadence": 79,
                  "average_speed": 4.76,
                  "average_watts": 228.2,
                  "device_watts": true,
                  "distance": 8046.72,
                  "elapsed_time": 1691,
                  "end_index": 1590,
                  "id": 12345678987654320,
                  "lap_index": 1,
                  "max_speed": 9.4,
                  "moving_time": 1587,
                  "name": "Lap 1",
                  "resource_state": 2,
                  "split": 1,
                  "start_date": "2018-02-08T14:13:37Z",
                  "start_date_local": "2018-02-08T06:13:37Z",
                  "start_index": 0,
                  "total_elevation_gain": 270
                }
              ]
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/activities/{id}/streams": {
      "get": {
        "description": "Returns the given activity's streams. Requires activity:read scope. Requires activity:read_all scope for Only Me activities.",
        "tags": [
          "Streams"
        ],
        "summary": "Get Activity Streams",
        "operationId": "getActivityStreams",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The identifier of the activity.",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "minItems": 1,
            "type": "array",
            "items": {
              "enum": [
                "time",
                "distance",
                "latlng",
                "altitude",
                "velocity_smooth",
                "heartrate",
                "cadence",
                "watts",
                "temp",
                "moving",
                "grade_smooth"
              ],
              "type": "string"
            },
            "collectionFormat": "csv",
            "description": "Desired stream types.",
            "name": "keys",
            "in": "query",
            "required": true
          },
          {
            "type": "boolean",
            "default": true,
            "description": "Must be true.",
            "name": "key_by_type",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The set of requested streams.",
            "schema": {
              "$ref": "#/definitions/streamSet"
            },
            "examples": {
              "application/json": [
                {
                  "data": [
                    2.9,
                    5.8,
                    8.5,
                    11.7,
                    15,
                    19,
                    23.2,
                    28,
                    32.8,
                    38.1,
                    43.8,
                    49.5
                  ],
                  "original_size": 12,
                  "resolution": "high",
                  "series_type": "distance",
                  "type": "distance"
                }
              ]
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/activities/{id}/zones": {
      "get": {
        "description": "Summit Feature. Returns the zones of a given activity. Requires activity:read for Everyone and Followers activities. Requires activity:read_all for Only Me activities.",
        "tags": [
          "Activities"
        ],
        "summary": "Get Activity Zones",
        "operationId": "getZonesByActivityId",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The identifier of the activity.",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Activity Zones.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/activityZone"
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/athlete": {
      "get": {
        "description": "Returns the currently authenticated athlete. Tokens with profile:read_all scope will receive a detailed athlete representation; all others will receive a summary representation.",
        "tags": [
          "Athletes"
        ],
        "summary": "Get Authenticated Athlete",
        "operationId": "getLoggedInAthlete",
        "responses": {
          "200": {
            "description": "Profile information for the authenticated athlete.",
            "schema": {
              "$ref": "#/definitions/detailedAthlete"
            },
            "examples": {
              "application/json": {
                "athlete_type": 1,
                "badge_type_id": 4,
                "bikes": [
                  {
                    "distance": 0,
                    "id": "b12345678987655",
                    "name": "EMC",
                    "primary": true,
                    "resource_state": 2
                  }
                ],
                "city": "San Francisco",
                "clubs": [],
                "country": "US",
                "created_at": "2017-11-14T02:30:05Z",
                "date_preference": "%m/%d/%Y",
                "firstname": "Marianne",
                "follower": null,
                "follower_count": 5,
                "friend": null,
                "friend_count": 5,
                "ftp": null,
                "id": 1234567890987654400,
                "lastname": "Teutenberg",
                "measurement_preference": "feet",
                "mutual_friend_count": 0,
                "premium": true,
                "profile": "https://xxxxx.cloudfront.net/pictures/athletes/123456789/123456789/2/large.jpg",
                "profile_medium": "https://xxxxxx.cloudfront.net/pictures/athletes/123456789/123456789/2/medium.jpg",
                "resource_state": 3,
                "sex": "F",
                "shoes": [
                  {
                    "distance": 4904,
                    "id": "g12345678987655",
                    "name": "adidas",
                    "primary": true,
                    "resource_state": 2
                  }
                ],
                "state": "CA",
                "updated_at": "2018-02-06T19:32:20Z",
                "username": "marianne_t",
                "weight": 0
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      },
      "put": {
        "description": "Update the currently authenticated athlete. Requires profile:write scope.",
        "consumes": [
          "multipart/form-data"
        ],
        "tags": [
          "Athletes"
        ],
        "summary": "Update Athlete",
        "operationId": "updateLoggedInAthlete",
        "parameters": [
          {
            "type": "number",
            "format": "float",
            "description": "The weight of the athlete in kilograms.",
            "name": "weight",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Profile information for the authenticated athlete.",
            "schema": {
              "$ref": "#/definitions/detailedAthlete"
            },
            "examples": {
              "application/json": {
                "athlete_type": 1,
                "badge_type_id": 4,
                "bikes": [
                  {
                    "distance": 0,
                    "id": "b1234567898765509876",
                    "name": "EMC",
                    "primary": true,
                    "resource_state": 2
                  }
                ],
                "city": "San Francisco",
                "clubs": [],
                "country": "US",
                "created_at": "2017-11-14T02:30:05Z",
                "date_preference": "%m/%d/%Y",
                "firstname": "Marianne",
                "follower": null,
                "follower_count": 5,
                "friend": null,
                "friend_count": 5,
                "ftp": null,
                "id": 1.2345678987655098e+22,
                "lastname": "V.",
                "measurement_preference": "feet",
                "mutual_friend_count": 0,
                "premium": true,
                "profile": "https://xxxxx.cloudfront.net/pictures/athletes/1234567898765509876/1234567898765509876/2/large.jpg",
                "profile_medium": "https://xxxxxx.cloudfront.net/pictures/athletes/1234567898765509876/1234567898765509876/2/medium.jpg",
                "resource_state": 3,
                "sex": "F",
                "shoes": [
                  {
                    "distance": 4904,
                    "id": "g1234567898765509876",
                    "name": "adidas",
                    "primary": true,
                    "resource_state": 2
                  }
                ],
                "state": "CA",
                "updated_at": "2018-02-06T19:32:20Z",
                "username": "marianne_v",
                "weight": 0
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/athlete/activities": {
      "get": {
        "description": "Returns the activities of an athlete for a specific identifier. Requires activity:read. Only Me activities will be filtered out unless requested by a token with activity:read_all.",
        "tags": [
          "Activities"
        ],
        "summary": "List Athlete Activities",
        "operationId": "getLoggedInAthleteActivities",
        "parameters": [
          {
            "type": "integer",
            "description": "An epoch timestamp to use for filtering activities that have taken place before a certain time.",
            "name": "before",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "An epoch timestamp to use for filtering activities that have taken place after a certain time.",
            "name": "after",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Page number. Defaults to 1.",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 30,
            "description": "Number of items per page. Defaults to 30.",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "The authenticated athlete's activities",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/summaryActivity"
              }
            },
            "examples": {
              "application/json": [
                {
                  "achievement_count": 0,
                  "athlete": {
                    "id": 134815,
                    "resource_state": 1
                  },
                  "athlete_count": 1,
                  "average_cadence": 67.1,
                  "average_heartrate": 140.3,
                  "average_speed": 5.54,
                  "average_watts": 175.3,
                  "comment_count": 1,
                  "commute": false,
                  "device_watts": true,
                  "distance": 24931.4,
                  "elapsed_time": 4500,
                  "end_latlng": null,
                  "external_id": "garmin_push_12345678987654321",
                  "flagged": false,
                  "from_accepted_tag": false,
                  "gear_id": "b12345678987654321",
                  "has_heartrate": true,
                  "has_kudoed": false,
                  "id": 154504250376823,
                  "kilojoules": 788.7,
                  "kudos_count": 3,
                  "location_city": null,
                  "location_country": "United States",
                  "location_state": null,
                  "manual": false,
                  "map": {
                    "id": "a12345678987654321",
                    "resource_state": 2,
                    "summary_polyline": null
                  },
                  "max_heartrate": 178,
                  "max_speed": 11,
                  "max_watts": 406,
                  "moving_time": 4500,
                  "name": "Happy Friday",
                  "photo_count": 0,
                  "pr_count": 0,
                  "private": false,
                  "resource_state": 2,
                  "sport_type": "MountainBikeRide",
                  "start_date": "2018-05-02T12:15:09Z",
                  "start_date_local": "2018-05-02T05:15:09Z",
                  "start_latlng": null,
                  "suffer_score": 82,
                  "timezone": "(GMT-08:00) America/Los_Angeles",
                  "total_elevation_gain": 0,
                  "total_photo_count": 1,
                  "trainer": true,
                  "type": "Ride",
                  "upload_id": 987654321234567900000,
                  "utc_offset": -25200,
                  "weighted_average_watts": 210,
                  "workout_type": null
                },
                {
                  "achievement_count": 0,
                  "athlete": {
                    "id": 167560,
                    "resource_state": 1
                  },
                  "athlete_count": 1,
                  "average_cadence": 69.8,
                  "average_heartrate": 152.4,
                  "average_speed": 4.385,
                  "average_watts": 200,
                  "comment_count": 0,
                  "commute": false,
                  "device_watts": true,
                  "distance": 23676.5,
                  "elapsed_time": 5400,
                  "end_latlng": null,
                  "external_id": "garmin_push_12345678987654321",
                  "flagged": false,
                  "from_accepted_tag": false,
                  "gear_id": "b12345678912343",
                  "has_heartrate": true,
                  "has_kudoed": false,
                  "id": 1234567809,
                  "kilojoules": 1080,
                  "kudos_count": 4,
                  "location_city": null,
                  "location_country": "United States",
                  "location_state": null,
                  "manual": false,
                  "map": {
                    "id": "a12345689",
                    "resource_state": 2,
                    "summary_polyline": null
                  },
                  "max_heartrate": 183,
                  "max_speed": 8.8,
                  "max_watts": 403,
                  "moving_time": 5400,
                  "name": "Bondcliff",
                  "photo_count": 0,
                  "pr_count": 0,
                  "private": false,
                  "resource_state": 2,
                  "sport_type": "MountainBikeRide",
                  "start_date": "2018-04-30T12:35:51Z",
                  "start_date_local": "2018-04-30T05:35:51Z",
                  "start_latlng": null,
                  "suffer_score": 162,
                  "timezone": "(GMT-08:00) America/Los_Angeles",
                  "total_elevation_gain": 0,
                  "total_photo_count": 1,
                  "trainer": true,
                  "type": "Ride",
                  "upload_id": 1234567819,
                  "utc_offset": -25200,
                  "weighted_average_watts": 214,
                  "workout_type": null
                }
              ]
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/athlete/clubs": {
      "get": {
        "description": "Returns a list of the clubs whose membership includes the authenticated athlete.",
        "tags": [
          "Clubs"
        ],
        "summary": "List Athlete Clubs",
        "operationId": "getLoggedInAthleteClubs",
        "parameters": [
          {
            "type": "integer",
            "description": "Page number. Defaults to 1.",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 30,
            "description": "Number of items per page. Defaults to 30.",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of summary club representations.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/summaryClub"
              }
            },
            "examples": {
              "application/json": [
                {
                  "city": "San Francisco",
                  "country": "United States",
                  "cover_photo": "https://dgalywyr863hv.cloudfront.net/pictures/clubs/231407/5098428/4/large.jpg",
                  "cover_photo_small": "https://dgalywyr863hv.cloudfront.net/pictures/clubs/231407/5098428/4/small.jpg",
                  "featured": false,
                  "id": 231407,
                  "member_count": 93151,
                  "name": "The Strava Club",
                  "private": false,
                  "profile": "https://dgalywyr863hv.cloudfront.net/pictures/clubs/231407/5319085/1/large.jpg",
                  "profile_medium": "https://dgalywyr863hv.cloudfront.net/pictures/clubs/231407/5319085/1/medium.jpg",
                  "resource_state": 2,
                  "sport_type": "other",
                  "state": "California",
                  "url": "strava",
                  "verified": true
                }
              ]
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/athlete/zones": {
      "get": {
        "description": "Returns the the authenticated athlete's heart rate and power zones. Requires profile:read_all.",
        "tags": [
          "Athletes"
        ],
        "summary": "Get Zones",
        "operationId": "getLoggedInAthleteZones",
        "responses": {
          "200": {
            "description": "Heart rate and power zones.",
            "schema": {
              "$ref": "#/definitions/zones"
            },
            "examples": {
              "application/json": [
                {
                  "distribution_buckets": [
                    {
                      "max": 0,
                      "min": 0,
                      "time": 1498
                    },
                    {
                      "max": 50,
                      "min": 0,
                      "time": 62
                    },
                    {
                      "max": 100,
                      "min": 50,
                      "time": 169
                    },
                    {
                      "max": 150,
                      "min": 100,
                      "time": 536
                    },
                    {
                      "max": 200,
                      "min": 150,
                      "time": 672
                    },
                    {
                      "max": 250,
                      "min": 200,
                      "time": 821
                    },
                    {
                      "max": 300,
                      "min": 250,
                      "time": 529
                    },
                    {
                      "max": 350,
                      "min": 300,
                      "time": 251
                    },
                    {
                      "max": 400,
                      "min": 350,
                      "time": 80
                    },
                    {
                      "max": 450,
                      "min": 400,
                      "time": 81
                    },
                    {
                      "max": -1,
                      "min": 450,
                      "time": 343
                    }
                  ],
                  "resource_state": 3,
                  "sensor_based": true,
                  "type": "power"
                }
              ]
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/athletes/{id}/routes": {
      "get": {
        "description": "Returns a list of the routes created by the authenticated athlete. Private routes are filtered out unless requested by a token with read_all scope.",
        "tags": [
          "Routes"
        ],
        "summary": "List Athlete Routes",
        "operationId": "getRoutesByAthleteId",
        "parameters": [
          {
            "type": "integer",
            "description": "Page number. Defaults to 1.",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 30,
            "description": "Number of items per page. Defaults to 30.",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A representation of the route.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/route"
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/athletes/{id}/stats": {
      "get": {
        "description": "Returns the activity stats of an athlete. Only includes data from activities set to Everyone visibilty.",
        "tags": [
          "Athletes"
        ],
        "summary": "Get Athlete Stats",
        "operationId": "getStats",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The identifier of the athlete. Must match the authenticated athlete.",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Activity stats of the athlete.",
            "schema": {
              "$ref": "#/definitions/activityStats"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/clubs/{id}": {
      "get": {
        "description": "Returns a given a club using its identifier.",
        "tags": [
          "Clubs"
        ],
        "summary": "Get Club",
        "operationId": "getClubById",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The identifier of the club.",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The detailed representation of a club.",
            "schema": {
              "$ref": "#/definitions/detailedClub"
            },
            "examples": {
              "application/json": {
                "activity_types": [
                  "Ride",
                  "VirtualRide",
                  "EBikeRide",
                  "Velomobile",
                  "Handcycle"
                ],
                "admin": false,
                "city": "San Francisco",
                "club_type": "company",
                "country": "United States",
                "cover_photo": "https://dgalywyr863hv.cloudfront.net/pictures/clubs/1/4328276/1/large.jpg",
                "cover_photo_small": "https://dgalywyr863hv.cloudfront.net/pictures/clubs/1/4328276/1/small.jpg",
                "description": "Private club for Cyclists who work at Strava.",
                "featured": false,
                "following_count": 107,
                "id": 1,
                "member_count": 116,
                "membership": "member",
                "name": "Team Strava Cycling",
                "owner": false,
                "owner_id": 759,
                "post_count": 29,
                "private": true,
                "profile": "https://dgalywyr863hv.cloudfront.net/pictures/clubs/1/1582/4/large.jpg",
                "profile_medium": "https://dgalywyr863hv.cloudfront.net/pictures/clubs/1/1582/4/medium.jpg",
                "resource_state": 3,
                "sport_type": "cycling",
                "state": "California",
                "url": "team-strava-bike",
                "verified": false
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/clubs/{id}/activities": {
      "get": {
        "description": "Retrieve recent activities from members of a specific club. The authenticated athlete must belong to the requested club in order to hit this endpoint. Pagination is supported. Athlete profile visibility is respected for all activities.",
        "tags": [
          "Clubs"
        ],
        "summary": "List Club Activities",
        "operationId": "getClubActivitiesById",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The identifier of the club.",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Page number. Defaults to 1.",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 30,
            "description": "Number of items per page. Defaults to 30.",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of activities.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/clubActivity"
              }
            },
            "examples": {
              "application/json": [
                {
                  "athlete": {
                    "firstname": "Peter",
                    "lastname": "S.",
                    "resource_state": 2
                  },
                  "distance": 2641.7,
                  "elapsed_time": 635,
                  "moving_time": 577,
                  "name": "World Championship",
                  "resource_state": 2,
                  "sport_type": "MountainBikeRide",
                  "total_elevation_gain": 8.8,
                  "type": "Ride",
                  "workout_type": null
                }
              ]
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/clubs/{id}/admins": {
      "get": {
        "description": "Returns a list of the administrators of a given club.",
        "tags": [
          "Clubs"
        ],
        "summary": "List Club Administrators",
        "operationId": "getClubAdminsById",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The identifier of the club.",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Page number. Defaults to 1.",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 30,
            "description": "Number of items per page. Defaults to 30.",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of summary athlete representations.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/summaryAthlete"
              }
            },
            "examples": {
              "application/json": [
                {
                  "firstname": "Peter",
                  "lastname": "S.",
                  "resource_state": 2
                }
              ]
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/clubs/{id}/members": {
      "get": {
        "description": "Returns a list of the athletes who are members of a given club.",
        "tags": [
          "Clubs"
        ],
        "summary": "List Club Members",
        "operationId": "getClubMembersById",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The identifier of the club.",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Page number. Defaults to 1.",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 30,
            "description": "Number of items per page. Defaults to 30.",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of club athlete representations.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/clubAthlete"
              }
            },
            "examples": {
              "application/json": [
                {
                  "admin": false,
                  "firstname": "Peter",
                  "lastname": "S.",
                  "membership": "member",
                  "owner": false,
                  "resource_state": 2
                }
              ]
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/gear/{id}": {
      "get": {
        "description": "Returns an equipment using its identifier.",
        "tags": [
          "Gears"
        ],
        "summary": "Get Equipment",
        "operationId": "getGearById",
        "parameters": [
          {
            "type": "string",
            "description": "The identifier of the gear.",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A representation of the gear.",
            "schema": {
              "$ref": "#/definitions/detailedGear"
            },
            "examples": {
              "application/json": {
                "brand_name": "BMC",
                "description": "My Bike.",
                "distance": 388206,
                "frame_type": 3,
                "id": "b1231",
                "model_name": "Teammachine",
                "primary": false,
                "resource_state": 3
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/routes/{id}": {
      "get": {
        "description": "Returns a route using its identifier. Requires read_all scope for private routes.",
        "tags": [
          "Routes"
        ],
        "summary": "Get Route",
        "operationId": "getRouteById",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The identifier of the route.",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A representation of the route.",
            "schema": {
              "$ref": "#/definitions/route"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/routes/{id}/export_gpx": {
      "get": {
        "description": "Returns a GPX file of the route. Requires read_all scope for private routes.",
        "tags": [
          "Routes"
        ],
        "summary": "Export Route GPX",
        "operationId": "getRouteAsGPX",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The identifier of the route.",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A GPX file with the route."
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/routes/{id}/export_tcx": {
      "get": {
        "description": "Returns a TCX file of the route. Requires read_all scope for private routes.",
        "tags": [
          "Routes"
        ],
        "summary": "Export Route TCX",
        "operationId": "getRouteAsTCX",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The identifier of the route.",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A TCX file with the route."
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/routes/{id}/streams": {
      "get": {
        "description": "Returns the given route's streams. Requires read_all scope for private routes.",
        "tags": [
          "Streams"
        ],
        "summary": "Get Route Streams",
        "operationId": "getRouteStreams",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The identifier of the route.",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The set of requested streams.",
            "schema": {
              "$ref": "#/definitions/streamSet"
            },
            "examples": {
              "application/json": [
                {
                  "data": [
                    [
                      37.833112,
                      -122.483436
                    ],
                    [
                      37.832964,
                      -122.483406
                    ]
                  ],
                  "type": "latlng"
                },
                {
                  "data": [
                    0,
                    16.8
                  ],
                  "type": "distance"
                },
                {
                  "data": [
                    92.4,
                    93.4
                  ],
                  "type": "altitude"
                }
              ]
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/segment_efforts": {
      "get": {
        "description": "Returns a set of the authenticated athlete's segment efforts for a given segment.  Requires subscription.",
        "tags": [
          "SegmentEfforts"
        ],
        "summary": "List Segment Efforts",
        "operationId": "getEffortsBySegmentId",
        "parameters": [
          {
            "type": "integer",
            "description": "The identifier of the segment.",
            "name": "segment_id",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 formatted date time.",
            "name": "start_date_local",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 formatted date time.",
            "name": "end_date_local",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 30,
            "description": "Number of items per page. Defaults to 30.",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of segment efforts.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/detailedSegmentEffort"
              }
            },
            "examples": {
              "application/json": [
                {
                  "achievements": [],
                  "activity": {
                    "id": 1234567890,
                    "resource_state": 1
                  },
                  "athlete": {
                    "id": 123445678689,
                    "resource_state": 1
                  },
                  "average_watts": 220.2,
                  "device_watts": false,
                  "distance": 6148.92,
                  "elapsed_time": 1657,
                  "end_index": 1366,
                  "id": 123456789,
                  "kom_rank": null,
                  "moving_time": 1642,
                  "name": "Alpe d'Huez",
                  "pr_rank": null,
                  "resource_state": 2,
                  "segment": {
                    "activity_type": "Ride",
                    "average_grade": 4.8,
                    "city": "Le Bourg D'Oisans",
                    "climb_category": 2,
                    "country": "France",
                    "distance": 6297.46,
                    "elevation_high": 416,
                    "elevation_low": 104.6,
                    "end_latlng": [
                      53.02204074375785,
                      -3.2039630001245736
                    ],
                    "hazardous": false,
                    "id": 788127,
                    "maximum_grade": 16.3,
                    "name": "Alpe d'Huez",
                    "private": false,
                    "resource_state": 2,
                    "starred": false,
                    "start_latlng": [
                      52.98501000581467,
                      -3.1869720001197366
                    ],
                    "state": "RA"
                  },
                  "start_date": "2007-09-15T08:15:29Z",
                  "start_date_local": "2007-09-15T09:15:29Z",
                  "start_index": 1102
                }
              ]
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/segment_efforts/{id}": {
      "get": {
        "description": "Returns a segment effort from an activity that is owned by the authenticated athlete. Requires subscription.",
        "tags": [
          "SegmentEfforts"
        ],
        "summary": "Get Segment Effort",
        "operationId": "getSegmentEffortById",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The identifier of the segment effort.",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Representation of a segment effort.",
            "schema": {
              "$ref": "#/definitions/detailedSegmentEffort"
            },
            "examples": {
              "application/json": {
                "achievements": [],
                "activity": {
                  "id": 3454504,
                  "resource_state": 1
                },
                "athlete": {
                  "id": 54321,
                  "resource_state": 1
                },
                "athlete_segment_stats": {
                  "effort_count": 149,
                  "pr_date": "2015-02-12",
                  "pr_elapsed_time": 212
                },
                "distance": 83,
                "elapsed_time": 381,
                "end_index": 83,
                "id": 1234556789,
                "kom_rank": null,
                "moving_time": 340,
                "name": "Alpe d'Huez",
                "pr_rank": null,
                "resource_state": 3,
                "segment": {
                  "activity_type": "Run",
                  "average_grade": -0.5,
                  "city": "San Francisco",
                  "climb_category": 0,
                  "country": "United States",
                  "distance": 780.35,
                  "elevation_high": 21,
                  "elevation_low": 17.2,
                  "end_latlng": [
                    37.808297909724,
                    -122.421324329674
                  ],
                  "hazardous": false,
                  "id": 63450,
                  "maximum_grade": 0,
                  "name": "Alpe d'Huez",
                  "private": false,
                  "resource_state": 2,
                  "starred": false,
                  "start_latlng": [
                    37.808407654682,
                    -122.426682919323
                  ],
                  "state": "CA"
                },
                "start_date": "2018-02-12T16:12:41Z",
                "start_date_local": "2018-02-12T08:12:41Z",
                "start_index": 65
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/segment_efforts/{id}/streams": {
      "get": {
        "description": "Returns a set of streams for a segment effort completed by the authenticated athlete. Requires read_all scope.",
        "tags": [
          "Streams"
        ],
        "summary": "Get Segment Effort Streams",
        "operationId": "getSegmentEffortStreams",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The identifier of the segment effort.",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "minItems": 1,
            "type": "array",
            "items": {
              "enum": [
                "time",
                "distance",
                "latlng",
                "altitude",
                "velocity_smooth",
                "heartrate",
                "cadence",
                "watts",
                "temp",
                "moving",
                "grade_smooth"
              ],
              "type": "string"
            },
            "collectionFormat": "csv",
            "description": "The types of streams to return.",
            "name": "keys",
            "in": "query",
            "required": true
          },
          {
            "type": "boolean",
            "default": true,
            "description": "Must be true.",
            "name": "key_by_type",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The set of requested streams.",
            "schema": {
              "$ref": "#/definitions/streamSet"
            },
            "examples": {
              "application/json": [
                {
                  "data": [
                    904.5,
                    957.8,
                    963.1,
                    989.1,
                    1011.9,
                    1049.7,
                    1082.4,
                    1098.1,
                    1113.2,
                    1124.7,
                    1139.2,
                    1142.1,
                    1170.4,
                    1173
                  ],
                  "original_size": 14,
                  "resolution": "high",
                  "series_type": "distance",
                  "type": "distance"
                }
              ]
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/segments/explore": {
      "get": {
        "description": "Returns the top 10 segments matching a specified query.",
        "tags": [
          "Segments"
        ],
        "summary": "Explore segments",
        "operationId": "exploreSegments",
        "parameters": [
          {
            "maxItems": 4,
            "minItems": 4,
            "type": "array",
            "items": {
              "type": "number",
              "format": "float"
            },
            "collectionFormat": "csv",
            "description": "The latitude and longitude for two points describing a rectangular boundary for the search: [southwest corner latitutde, southwest corner longitude, northeast corner latitude, northeast corner longitude]",
            "name": "bounds",
            "in": "query",
            "required": true
          },
          {
            "enum": [
              "running",
              "riding"
            ],
            "type": "string",
            "description": "Desired activity type.",
            "name": "activity_type",
            "in": "query"
          },
          {
            "maximum": 5,
            "minimum": 0,
            "type": "integer",
            "description": "The minimum climbing category.",
            "name": "min_cat",
            "in": "query"
          },
          {
            "maximum": 5,
            "minimum": 0,
            "type": "integer",
            "description": "The maximum climbing category.",
            "name": "max_cat",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of matching segments.",
            "schema": {
              "$ref": "#/definitions/explorerResponse"
            },
            "examples": {
              "application/json": {
                "segments": [
                  {
                    "avg_grade": 5.7,
                    "climb_category": 1,
                    "climb_category_desc": "4",
                    "distance": 2684.8,
                    "elev_difference": 152.8,
                    "end_latlng": [
                      37.8280722,
                      -122.4981393
                    ],
                    "id": 229781,
                    "name": "Hawk Hill",
                    "points": "}g|eFnpqjVl@En@Md@HbAd@d@^h@Xx@VbARjBDh@OPQf@w@d@k@XKXDFPH\\EbGT`AV`@v@|@NTNb@?XOb@cAxAWLuE@eAFMBoAv@eBt@q@b@}@tAeAt@i@dAC`AFZj@dB?~@[h@MbAVn@b@b@\\d@Eh@Qb@_@d@eB|@c@h@WfBK|AMpA?VF\\\\t@f@t@h@j@|@b@hCb@b@XTd@Bl@GtA?jAL`ALp@Tr@RXd@Rx@Pn@^Zh@Tx@Zf@`@FTCzDy@f@Yx@m@n@Op@VJr@",
                    "resource_state": 2,
                    "starred": false,
                    "start_latlng": [
                      37.8331119,
                      -122.4834356
                    ]
                  }
                ]
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/segments/starred": {
      "get": {
        "description": "List of the authenticated athlete's starred segments. Private segments are filtered out unless requested by a token with read_all scope.",
        "tags": [
          "Segments"
        ],
        "summary": "List Starred Segments",
        "operationId": "getLoggedInAthleteStarredSegments",
        "parameters": [
          {
            "type": "integer",
            "description": "Page number. Defaults to 1.",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 30,
            "description": "Number of items per page. Defaults to 30.",
            "name": "per_page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of the authenticated athlete's starred segments.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/summarySegment"
              }
            },
            "examples": {
              "application/json": {
                "activity_type": "Ride",
                "athlete_count": 30623,
                "athlete_segment_stats": {
                  "effort_count": 2,
                  "pr_date": "1993-04-03",
                  "pr_elapsed_time": 553
                },
                "average_grade": 5.7,
                "city": "San Francisco",
                "climb_category": 1,
                "country": "United States",
                "created_at": "2009-09-21T20:29:41Z",
                "distance": 2684.82,
                "effort_count": 309974,
                "elevation_high": 245.3,
                "elevation_low": 92.4,
                "end_latlng": [
                  37.8280722,
                  -122.4981393
                ],
                "hazardous": false,
                "id": 229781,
                "map": {
                  "id": "s229781",
                  "polyline": "}g|eFnpqjVl@En@Md@HbAd@d@^h@Xx@VbARjBDh@OPQf@w@d@k@XKXDFPH\\EbGT`AV`@v@|@NTNb@?XOb@cAxAWLuE@eAFMBoAv@eBt@q@b@}@tAeAt@i@dAC`AFZj@dB?~@[h@MbAVn@b@b@\\d@Eh@Qb@_@d@eB|@c@h@WfBK|AMpA?VF\\\\t@f@t@h@j@|@b@hCb@b@XTd@Bl@GtA?jAL`ALp@Tr@RXd@Rx@Pn@^Zh@Tx@Zf@`@FTCzDy@f@Yx@m@n@Op@VJr@",
                  "resource_state": 3
                },
                "maximum_grade": 14.2,
                "name": "Hawk Hill",
                "private": false,
                "resource_state": 3,
                "star_count": 2428,
                "starred": false,
                "start_latlng": [
                  37.8331119,
                  -122.4834356
                ],
                "state": "CA",
                "total_elevation_gain": 155.733,
                "updated_at": "2018-02-15T09:04:18Z"
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/segments/{id}": {
      "get": {
        "description": "Returns the specified segment. read_all scope required in order to retrieve athlete-specific segment information, or to retrieve private segments.",
        "tags": [
          "Segments"
        ],
        "summary": "Get Segment",
        "operationId": "getSegmentById",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The identifier of the segment.",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Representation of a segment.",
            "schema": {
              "$ref": "#/definitions/detailedSegment"
            },
            "examples": {
              "application/json": {
                "activity_type": "Ride",
                "athlete_count": 30623,
                "athlete_segment_stats": {
                  "effort_count": 2,
                  "pr_date": "1993-04-03",
                  "pr_elapsed_time": 553
                },
                "average_grade": 5.7,
                "city": "San Francisco",
                "climb_category": 1,
                "country": "United States",
                "created_at": "2009-09-21T20:29:41Z",
                "distance": 2684.82,
                "effort_count": 309974,
                "elevation_high": 245.3,
                "elevation_low": 92.4,
                "end_latlng": [
                  37.8280722,
                  -122.4981393
                ],
                "hazardous": false,
                "id": 229781,
                "map": {
                  "id": "s229781",
                  "polyline": "}g|eFnpqjVl@En@Md@HbAd@d@^h@Xx@VbARjBDh@OPQf@w@d@k@XKXDFPH\\EbGT`AV`@v@|@NTNb@?XOb@cAxAWLuE@eAFMBoAv@eBt@q@b@}@tAeAt@i@dAC`AFZj@dB?~@[h@MbAVn@b@b@\\d@Eh@Qb@_@d@eB|@c@h@WfBK|AMpA?VF\\\\t@f@t@h@j@|@b@hCb@b@XTd@Bl@GtA?jAL`ALp@Tr@RXd@Rx@Pn@^Zh@Tx@Zf@`@FTCzDy@f@Yx@m@n@Op@VJr@",
                  "resource_state": 3
                },
                "maximum_grade": 14.2,
                "name": "Hawk Hill",
                "private": false,
                "resource_state": 3,
                "star_count": 2428,
                "starred": false,
                "start_latlng": [
                  37.8331119,
                  -122.4834356
                ],
                "state": "CA",
                "total_elevation_gain": 155.733,
                "updated_at": "2018-02-15T09:04:18Z"
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/segments/{id}/starred": {
      "put": {
        "description": "Stars/Unstars the given segment for the authenticated athlete. Requires profile:write scope.",
        "tags": [
          "Segments"
        ],
        "summary": "Star Segment",
        "operationId": "starSegment",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The identifier of the segment to star.",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "boolean",
            "default": false,
            "description": "If true, star the segment; if false, unstar the segment.",
            "name": "starred",
            "in": "formData",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Representation of a segment.",
            "schema": {
              "$ref": "#/definitions/detailedSegment"
            },
            "examples": {
              "application/json": {
                "activity_type": "Ride",
                "athlete_count": 30623,
                "athlete_segment_stats": {
                  "effort_count": 2,
                  "pr_date": "1993-04-03",
                  "pr_elapsed_time": 553
                },
                "average_grade": 5.7,
                "city": "San Francisco",
                "climb_category": 1,
                "country": "United States",
                "created_at": "2009-09-21T20:29:41Z",
                "distance": 2684.82,
                "effort_count": 309974,
                "elevation_high": 245.3,
                "elevation_low": 92.4,
                "end_latlng": [
                  37.8280722,
                  -122.4981393
                ],
                "hazardous": false,
                "id": 229781,
                "map": {
                  "id": "s229781",
                  "polyline": "}g|eFnpqjVl@En@Md@HbAd@d@^h@Xx@VbARjBDh@OPQf@w@d@k@XKXDFPH\\EbGT`AV`@v@|@NTNb@?XOb@cAxAWLuE@eAFMBoAv@eBt@q@b@}@tAeAt@i@dAC`AFZj@dB?~@[h@MbAVn@b@b@\\d@Eh@Qb@_@d@eB|@c@h@WfBK|AMpA?VF\\\\t@f@t@h@j@|@b@hCb@b@XTd@Bl@GtA?jAL`ALp@Tr@RXd@Rx@Pn@^Zh@Tx@Zf@`@FTCzDy@f@Yx@m@n@Op@VJr@",
                  "resource_state": 3
                },
                "maximum_grade": 14.2,
                "name": "Hawk Hill",
                "private": false,
                "resource_state": 3,
                "star_count": 2428,
                "starred": false,
                "start_latlng": [
                  37.8331119,
                  -122.4834356
                ],
                "state": "CA",
                "total_elevation_gain": 155.733,
                "updated_at": "2018-02-15T09:04:18Z"
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/segments/{id}/streams": {
      "get": {
        "description": "Returns the given segment's streams. Requires read_all scope for private segments.",
        "tags": [
          "Streams"
        ],
        "summary": "Get Segment Streams",
        "operationId": "getSegmentStreams",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The identifier of the segment.",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "minItems": 1,
            "type": "array",
            "items": {
              "enum": [
                "distance",
                "latlng",
                "altitude"
              ],
              "type": "string"
            },
            "collectionFormat": "csv",
            "description": "The types of streams to return.",
            "name": "keys",
            "in": "query",
            "required": true
          },
          {
            "type": "boolean",
            "default": true,
            "description": "Must be true.",
            "name": "key_by_type",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The set of requested streams.",
            "schema": {
              "$ref": "#/definitions/streamSet"
            },
            "examples": {
              "application/json": [
                {
                  "data": [
                    [
                      37.833112,
                      -122.483436
                    ],
                    [
                      37.832964,
                      -122.483406
                    ]
                  ],
                  "original_size": 2,
                  "resolution": "high",
                  "series_type": "distance",
                  "type": "latlng"
                },
                {
                  "data": [
                    0,
                    16.8
                  ],
                  "original_size": 2,
                  "resolution": "high",
                  "series_type": "distance",
                  "type": "distance"
                },
                {
                  "data": [
                    92.4,
                    93.4
                  ],
                  "original_size": 2,
                  "resolution": "high",
                  "series_type": "distance",
                  "type": "altitude"
                }
              ]
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/uploads": {
      "post": {
        "description": "Uploads a new data file to create an activity from. Requires activity:write scope.",
        "consumes": [
          "multipart/form-data"
        ],
        "tags": [
          "Uploads"
        ],
        "summary": "Upload Activity",
        "operationId": "createUpload",
        "parameters": [
          {
            "type": "file",
            "description": "The uploaded file.",
            "name": "file",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "The desired name of the resulting activity.",
            "name": "name",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "The desired description of the resulting activity.",
            "name": "description",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "Whether the resulting activity should be marked as having been performed on a trainer.",
            "name": "trainer",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "Whether the resulting activity should be tagged as a commute.",
            "name": "commute",
            "in": "formData"
          },
          {
            "enum": [
              "fit",
              "fit.gz",
              "tcx",
              "tcx.gz",
              "gpx",
              "gpx.gz"
            ],
            "type": "string",
            "description": "The format of the uploaded file.",
            "name": "data_type",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "The desired external identifier of the resulting activity.",
            "name": "external_id",
            "in": "formData"
          }
        ],
        "responses": {
          "201": {
            "description": "A representation of the created upload.",
            "schema": {
              "$ref": "#/definitions/upload"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    },
    "/uploads/{uploadId}": {
      "get": {
        "description": "Returns an upload for a given identifier. Requires activity:write scope.",
        "tags": [
          "Uploads"
        ],
        "summary": "Get Upload",
        "operationId": "getUploadById",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The identifier of the upload.",
            "name": "uploadId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Representation of the upload.",
            "schema": {
              "$ref": "#/definitions/upload"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/fault"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "activityStats": {
      "description": "A set of rolled-up statistics and totals for an athlete",
      "properties": {
        "all_ride_totals": {
          "$ref": "#/definitions/activityTotal"
        },
        "all_run_totals": {
          "$ref": "#/definitions/activityTotal"
        },
        "all_swim_totals": {
          "$ref": "#/definitions/activityTotal"
        },
        "biggest_climb_elevation_gain": {
          "description": "The highest climb ridden by the athlete.",
          "type": "number",
          "format": "double"
        },
        "biggest_ride_distance": {
[...]
