name: Go [lint, test]

on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
    paths:
      - 'scripts/**'
      - 'tools/**'
      - '**/*.go'
      - '**/*.gohtml'
      - '**/*.proto'
      - 'go.mod'
      - 'go.sum'
      - 'Makefile'
      - '!**.*md'
      - '.github/workflows/**'
      - '!.github/workflows/readme-stars.yml'
      - 'deployments/docker-compose/go-tools-docker-compose.yml'
  pull_request:
    types: [ opened, synchronize, reopened ]
    branches:
      - '*'
    paths:
      - 'scripts/**'
      - 'tools/**'
      - '**/*.go'
      - '**/*.gohtml'
      - '**/*.proto'
      - 'go.mod'
      - 'go.sum'
      - 'Makefile'
      - '!**.*md'
      - '.github/workflows/**'
      - '!.github/workflows/readme-stars.yml'

jobs:
  build-lint:
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        os: [ 'ubuntu-22.04' ]
        go: [ '1.19' ]
    runs-on: ${{ matrix.os }}
    name: Build
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up go
        uses: actions/setup-go@v3.5.0
        with:
          go-version: ${{ matrix.go }}

      - run: |
          go version
        shell: bash

      - name: Set up cache
        uses: actions/cache@v3
        env:
          cache-name: cache-vendored-tools-${{ secrets.CACHE_VERSION }}
        with:
          path: |
            ${{ env.GOBIN }}
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/tools/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/tools/go.sum') }}

      - name: Install tools
        run: |
          make install-tools
        shell: bash

      - name: Vet
        run: |
          make vet
        shell: bash

      - name: Lint
        run: |
          make lint-full
        shell: bash

